body{
font-family:Arial;
background:#f4f6f9;
text-align:center;
}

h1{
background:#2c3e50;
color:white;
padding:15px;
}

form{
margin:20px;
}

input{
padding:8px;
margin:5px;
}

button{
padding:10px;
background:#3498db;
color:white;
border:none;
}

table{
margin:auto;
border-collapse:collapse;
width:80%;
}

table,th,td{
border:1px solid gray;
padding:8px;
}

th{
background:#34495e;
color:white;
}